<page-root-first style="padding: 80px 50px 50px 50px">
  <background-triangle size="500px"></background-triangle>
      <address-header>
        <address-header-item
          >AISportsWatch GmbH <br />
          Hafenstraße 100 <br />
          45356 Essen <br />
          Deutschland
        </address-header-item>
        <address-header-date />
      </address-header>
      <intro-heading
        >Initiativbewerbung um eine Stelle als
        Werksstudent Webentwicklung</intro-heading
      >
      <intro-main>
    <intro-main-paragraph>
      <intro-main-paragraph>
        Sehr geehrte Damen und Herren,
    </intro-main-paragraph>
    <intro-main-paragraph>
        da sich mein Studium nun in der finalen Phase befindet und dadurch bin ich wieder 
        flexibler während der Studienzeit tätig zu sein. Auf diesem Wege suche ich 
        nun eine Möglichkeit meine im Studium und darüber hinaus erworbenen Kenntnisse 
        praktisch zu nutzen und dadurch weiter zu vertiefen, sowie neue hinzuzugewinnen.
    </intro-main-paragraph>
    <intro-main-paragraph>Mit diesen Technologien habe ich bereits weitgehende Erfahrung 
      (weitere auf meiner 
      <a style="color: var(--blue);" href="https://willey3x37-portfolio.netlify.app">
        Homepage</a>):
      <intro-main-paragraph-iconbox>
        <intro-main-paragraph-iconbox-icon src="../public/pictures/javascript.svg" ></intro-main-paragraph-iconbox-icon>
        <intro-main-paragraph-iconbox-icon src="../public/pictures/typescript.svg" ></intro-main-paragraph-iconbox-icon>
         <intro-main-paragraph-iconbox-icon src="../public/pictures/react.svg" ></intro-main-paragraph-iconbox-icon>
         <intro-main-paragraph-iconbox-icon src="../public/pictures/next-js.svg" ></intro-main-paragraph-iconbox-icon>        
         <intro-main-paragraph-iconbox-icon src="../public/pictures/material-ui.svg" ></intro-main-paragraph-iconbox-icon>      
         <intro-main-paragraph-iconbox-icon src="../public/pictures/java.svg" ></intro-main-paragraph-iconbox-icon>            
         <intro-main-paragraph-iconbox-icon src="../public/pictures/node-js.svg" ></intro-main-paragraph-iconbox-icon>                    
        </intro-main-paragraph-iconbox>
    </intro-main-paragraph>
  <intro-main-paragraph>Durch viele Gruppenarbeiten im Rahmen meines Studiums bin ich bereits sehr geübt im Team gut und produktiv zu arbeiten. Ich habe in meinem letzten Tätigkeiten Erfahrungen mit agilem Arbeiten und der Nutzung von Scrum, Jira und Kanban gesammelt.</intro-main-paragraph>
    <intro-main-paragraph>Durch das aufgrund von Corona notwendige digitale Semester bin ich auch geübt produktiv von zuhause zu arbeiten und habe dafür auch das notwendige Setup, um dort zu arbeiten und Videokonferenzen abzuhalten. Eine derartige Möglichkeit würde ich zur besseren Studienvereinbarkeit bevorzugen.</intro-main-paragraph>  
    <intro-main-paragraph>Das Einhalten von Absprachen und ein freundliches Miteinander sind für mich selbstverständlich und essenziell für ein gutes Arbeitsklima.</intro-main-paragraph>
  <intro-main-paragraph>Mit freundlichen Grüßen <br/> <intro-main-paragraph-signature>Jannik Will</intro-main-paragraph-signature></intro-main-paragraph>
  </intro-main>
    <intro-footer>
    <intro-footer-item href="mailto:jw19980309@gmail.com" src="../public/pictures/mail.svg">jw19980309@gmail.com</intro-footer-item>
    <intro-footer-item href="https://bit.ly/3fl4KL7" src="../public/pictures/section.svg">bit.ly/3fl4KL7</intro-footer-item>
      <intro-footer-item href="https://www.linkedin.com/in/jannik-will-450564182/" src="../public/pictures/linkedin.svg">Jannik Will</intro-footer-item>  
      <intro-footer-item href="https://twitter.com/Willey3x37" src="../public/pictures/twitter.svg">Willey3x37</intro-footer-item>    
    </intro-footer-item>
  </page-root-first>